@model IEnumerable<GCEWWeb.Models.Database.Project>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projects</title>
    <style>
        tbody > tr:hover {
            background-color: #eee;
        }
    </style>
</head>
<body>
    <p>
        <a asp-action="CreateProject">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.ID">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <form id="form" method="post" action="@Url.Action("OpenProject", "Home")">
        <input name="idOpenProject" id="idOpenProject" type="hidden" />
    </form>
</body>
</html>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    $(function () {
        $("tbody > tr").click(function () {
            $("#idOpenProject").val($(this).attr("id"));
            $("#form").submit();
        });
    });

</script>
