@model RegisterModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>SelectUserPlan</title>
    <style>
        form {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            width: 100%;
            height: 100%;
        }

        .div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            flex-direction: row;
            justify-content: space-around;
        }

        .plate {
            overflow: hidden;
            width: 300px;
            display: inline-flex;
            flex-direction: column;
            margin: 10px;
            border: 1.5px solid grey;
            border-radius: 12px;
        }

            .plate:hover {
                cursor: pointer;
            }

            .plate > img {
            }

        .isActive {
            border-width: 2px;
            background: #eee;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("SelectUserPlanConfirmed", "Account", FormMethod.Post, new { id = "form" }))
    {
        @Html.HiddenFor(x => x.ConfirmedPassword)
        @Html.HiddenFor(x => x.Login)
        @Html.HiddenFor(x => x.Nickname)
        @Html.HiddenFor(x => x.Password)
        @Html.HiddenFor(x => x.Plan)
        <div class="div">
            <div class="plate" val="@((int)Plan.Free)">
                <img />
                <div>
                    <div style="text-align:center">Free version</div>
                    <ul>
                        <li>Hard disk is 50 mb</li>
                    </ul>
                </div>
            </div>
            <div class="plate" val="@((int)Plan.Minimum)">
                <img />
                <div>
                    <div style="text-align:center">Minimum version</div>
                    <ul>
                        <li>Hard disk is 100 mb</li>
                    </ul>
                </div>
            </div>
            <div class="plate" val="@((int)Plan.Maximum)">
                <img />
                <div>
                    <div style="text-align:center">Maximum version</div>
                    <ul>
                        <li>Hard disk is 150 mb</li>
                    </ul>
                </div>
            </div>
        </div>
        <input style="width:40%" type="button" value="Select" onclick="send()" class="btn btn-success" />
    }
</body>
</html>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    function send() {
        var value = $(".isActive").first().attr("val");
        $("#Plan").val(value);
        $("#form").submit();
    }


    $(function () {
        $(".plate").click(function () {
            $(".isActive").each(function () { $(this).removeClass("isActive"); });
            $(this).addClass("isActive");
        });
    });

</script>
